@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto Medium";
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto Regular";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Arial Regular";
  font-style: normal;
  src: url("../fonts/ARIAL.TTF");
}
.header-artist, .header-home {
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto Regular";
  line-height: 1.5em;
  background-color: #08020d;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 450px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

h1 {
  font-size: 60px;
  font-family: "Roboto Bold";
  line-height: 90px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  h1 {
    font-size: 30px;
    font-family: "Roboto Bold";
    line-height: 45px;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 38px;
  font-family: "Roboto Bold";
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  h2 {
    font-size: 18px;
    font-family: "Roboto Bold";
    line-height: 27px;
    text-transform: uppercase;
  }
}

h3 {
  font-size: 18px;
  font-family: "Roboto Bold";
  line-height: 27px;
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #cacaca;
}

.text-lgrey {
  color: #e0e0e0;
}

.text-orange {
  color: #f89202;
}

.text-11-upper {
  font-size: 11px;
  font-family: "Roboto Regular";
  line-height: 13px;
  text-transform: uppercase;
}

.bg-free {
  background: none;
}

.text-64 {
  font-size: 64px;
  font-family: "Roboto Regular";
  line-height: 96px;
}

.text-56 {
  font-size: 56px;
  font-family: "Roboto Regular";
  line-height: 84px;
}

.text-48 {
  font-size: 48px;
  font-family: "Roboto Regular";
  line-height: 72px;
}

.text-40 {
  font-size: 40px;
  font-family: "Roboto Regular";
  line-height: 60px;
}

.text-32 {
  font-size: 32px;
  font-family: "Roboto Regular";
  line-height: 48px;
}

.text-24 {
  font-size: 24px;
  font-family: "Roboto Regular";
  line-height: 36px;
}

.text-18 {
  font-size: 18px;
  font-family: "Roboto Regular";
  line-height: 27px;
}

.text-16 {
  font-size: 16px;
  font-family: "Roboto Regular";
  line-height: 24px;
}

.text-13 {
  font-size: 13px;
  font-family: "Roboto Regular";
  line-height: 19.5px;
}

.text-11 {
  font-size: 11px;
  font-family: "Roboto Regular";
  line-height: 16.5px;
}

.p-24 {
  padding: 24px;
}

.p-16 {
  padding: 16px;
}

.text-center {
  text-align: center;
}

.btn {
  display: block;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.btn-brown {
  background: #95390c;
  border: none;
}

.btn-green {
  background: #34c176;
  border: none;
}

.btn-purple {
  background: #5328a1;
  border: none;
}

.btn-oval {
  border-radius: 32px;
}

.btn-group {
  display: flex;
}
@media (max-width: 450px) {
  .btn-group {
    flex-direction: column;
  }
}

section {
  padding-top: 100px;
}

.section-title {
  margin-bottom: 48px;
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-start {
  text-align: start;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.header-home {
  background-image: url("../images/banner.png");
}

.header-artist {
  background-image: url("../images/Morten Harket.png");
}

.bold {
  font-weight: 700;
}

.header {
  position: absolute;
  top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 450px) {
  .header {
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
  }
}
.header-wrapper {
  position: relative;
  max-width: 1200px;
}
.header-main {
  display: flex;
}
@media (max-width: 450px) {
  .header-main {
    flex-direction: column;
    align-items: start;
  }
}
.header-main .logo {
  display: flex;
  align-items: center;
}
.header-main .logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.header-main .nav {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, min-content);
  align-items: center;
  margin-left: 90px;
}
.header-main .nav li {
  line-height: 13px;
}
.header-main .nav li a {
  font-size: 11px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .header-main .nav {
    grid-gap: 0;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 17px;
    margin-bottom: 18px;
    margin-left: 0;
  }
}
.header input {
  justify-self: end;
  width: 248px;
  height: 25px;
  background: #3c3b3d;
  border-radius: 50px;
}
@media (max-width: 450px) {
  .header input {
    justify-self: start;
    width: 100%;
    max-width: 374px;
  }
}
.header input::placeholder {
  padding-left: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 13.3px;
  font-family: "Arial Regular";
  line-height: 15px;
  text-transform: uppercase;
}

#page-description {
  padding: 200px 0;
}

.page-description-home {
  text-align: center;
}
@media (max-width: 450px) {
  .page-description-home h1 {
    margin-top: 50px;
  }
}
.page-description-home p {
  margin-top: 31px;
  margin-bottom: 16px;
}
@media (max-width: 450px) {
  .page-description-home p {
    margin-top: 16px;
  }
}
.page-description-home form {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}
.page-description-home form .login {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.5rem;
}
@media (max-width: 450px) {
  .page-description-home form .login {
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.page-description-home form .login input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.page-description-home form .login input::placeholder {
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto Bold";
  line-height: 16px;
}
.page-description-home form .btn-arial {
  width: 100%;
  font-weight: 400;
  font-size: 13.3px;
  font-family: "Arial Regular";
  line-height: 15px;
}

.page-description-artist {
  text-align: start;
}
.page-description-artist h1 {
  margin-top: 50px;
  margin-bottom: 16px;
}
@media (max-width: 450px) {
  .page-description-artist h1 {
    margin-top: 25px;
  }
}
.page-description-artist .btn-group {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, min-content);
  margin-top: 46px;
  margin-bottom: 22px;
}
@media (max-width: 450px) {
  .page-description-artist .btn-group {
    grid-template-columns: auto;
  }
}

svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  fill: #fff;
}

.btn-svg {
  display: flex;
  align-items: center;
  width: 200px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 12.8px;
  font-family: "Roboto Regular";
  text-transform: uppercase;
}

#page-pricing .pricing {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 43px;
}
@media (max-width: 450px) {
  #page-pricing .pricing {
    grid-template-columns: repeat(1, 1fr);
  }
}
#page-pricing .pricing-item {
  height: 530px;
  padding: 24px 1.5rem 64px;
  border-radius: 1rem;
}
@media (max-width: 450px) {
  #page-pricing .pricing-item {
    height: 514px;
    padding-top: 15px;
  }
}
#page-pricing .pricing-item h3 {
  margin-bottom: 200px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  #page-pricing .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
#page-pricing .pricing-item a {
  margin-bottom: 64px;
  padding: 20px 30px;
  text-transform: uppercase;
}
#page-pricing .pricing-value {
  margin-bottom: 37px;
  line-height: 1em;
}
#page-pricing .pricing-value span {
  margin-left: 16px;
  vertical-align: super;
}
#page-pricing .pricing-footer {
  font-size: 12.8px;
  line-height: 150%;
}

.item-1 {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.item-2 {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.item-3 {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.news-item {
  display: grid;
  grid-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 65px;
}
.news-item img {
  grid-column: 1/2;
}
.news-item-content {
  grid-column: 2/3;
}
@media (max-width: 450px) {
  .news-item img {
    grid-column: 1/-1;
    width: 100%;
  }
  .news-item-content {
    grid-column: 1/-1;
  }
}
.news-item-back img {
  grid-column: 2/3;
}
.news-item-back .news-item-content {
  grid-row: 1;
  grid-column: 1/2;
}
@media (max-width: 450px) {
  .news-item-back img {
    grid-column: 1/-1;
    width: 100%;
  }
  .news-item-back .news-item-content {
    grid-row: 2;
    grid-column: 1/-1;
  }
}

.news-body h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
@media (max-width: 450px) {
  .news-body h3 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.news-body p {
  margin-top: 16px;
  margin-bottom: 25px;
}

.news-author {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  margin-bottom: 48px;
}
.news-author p {
  font-size: 12px;
  line-height: 19px;
}
.news-author .avatar {
  grid-column: 1/2;
  width: 19px;
  height: 19px;
}

.news-footer a {
  width: max-content;
  padding: 16px 30px;
  font-size: 12px;
  line-height: 19px;
}

#page-app {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}
#page-app h2 {
  grid-column: span 2;
}
@media (max-width: 450px) {
  #page-app h2 {
    grid-column: span 1;
  }
}
#page-app img {
  justify-self: center;
}
@media (max-width: 450px) {
  #page-app img {
    grid-row: 2/3;
  }
}
@media (max-width: 450px) {
  #page-app {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-app-content {
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: repeat(3, min-content);
  margin-top: 16px;
}
.page-app-content .btn {
  width: min-content;
  padding: 16px 40px;
  font-size: 12.8px;
  text-transform: capitalize;
}

.bg-gradient {
  padding: 8px 0;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
@media (max-width: 450px) {
  .bg-gradient {
    padding-bottom: 10px;
  }
}

.footer-top {
  display: grid;
  grid-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 18px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 450px) {
  .footer-top {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 13px;
  }
}
.footer-top h2 {
  grid-row: 1;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 450px) {
  .footer-top h2 {
    grid-row: auto;
  }
}
@media (max-width: 450px) {
  .footer-top ul {
    margin-bottom: 14px;
  }
}
.footer-top ul li {
  font-size: 16px;
  line-height: 150%;
}
.footer-top-social {
  display: flex;
  align-items: center;
  height: min-content;
}
.footer-top-social a {
  display: block;
  margin-right: 24px;
}
.footer-bottom {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(5, min-content);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 450px) {
  .footer-bottom {
    grid-row-gap: 16px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-bottom a {
    margin-top: 1px;
  }
}

hr {
  border: 2px solid #cacaca;
}

@media (max-width: 450px) {
  .mt-9 {
    margin-top: 14px;
  }
}

@media (max-width: 450px) {
  .mt-5 {
    margin-top: -5px;
  }
}

.popular-track-list {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 450px) {
  .popular-track-list {
    grid-template-columns: auto;
  }
}

.track-name,
.track-author,
.track-time {
  font-size: 12.8px;
  line-height: 150%;
}

.popular-track {
  display: flex;
}
@media (max-width: 450px) {
  .popular-track {
    width: 100%;
  }
}
.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.popular-track .track-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.popular-track .track-info .track-time {
  margin-right: 50px;
}
@media (max-width: 450px) {
  .popular-track .track-info .track-time {
    margin-right: 0;
  }
}

.discography-list {
  display: grid;
  grid-gap: 50px;
  grid-row-gap: 25px;
  grid-template-columns: repeat(4, min-content);
}
@media (max-width: 450px) {
  .discography-list {
    grid-template-columns: repeat(2, min-content);
  }
}

.discography-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .discography-item img {
    width: 137px;
    height: 137px;
  }
}
.discography-item h3 {
  text-transform: capitalize;
}
@media (max-width: 450px) {
  .discography-item h3 {
    width: 138px;
  }
}

.similar-list {
  display: grid;
  grid-gap: 50px;
  grid-row-gap: 25px;
  grid-template-columns: repeat(4, min-content);
  margin-bottom: 100px;
}
@media (max-width: 450px) {
  .similar-list {
    grid-template-columns: repeat(2, min-content);
  }
}
.similar-list .similar-item {
  width: min-content;
  text-align: center;
}
.similar-list .similar-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .similar-list .similar-item img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
