@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
#page-pricing .pricing, #page-description .content form .login, .header-main .nav ul, .header-main .logo, .header-main, .header, .btn-group {
  display: flex;
  justify-content: space-between;
}

.header-artist, .header-home {
  background-position: center;
  background-size: cover;
}

* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 1.5em;
  color: #cacaca;
  background-color: #08020d;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 415px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
}
@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-family: "Roboto Bold";
    text-transform: uppercase;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
}
@media (max-width: 415px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto Bold";
    text-transform: uppercase;
  }
}

.relative {
  position: relative;
}

.text-white, .footer-top-info ul li {
  color: #ffffff;
}

.text-grey {
  color: #cacaca;
}

.text-lgrey {
  color: #e0e0e0;
}

.text-orange {
  color: #f89202;
}

.bg-free {
  background: none;
}

.text-64 {
  font-family: "Roboto Regular";
  font-size: 64px;
  line-height: 96px;
}

.text-56 {
  font-family: "Roboto Regular";
  font-size: 56px;
  line-height: 84px;
}

.text-48 {
  font-family: "Roboto Regular";
  font-size: 48px;
  line-height: 72px;
}

.text-40 {
  font-family: "Roboto Regular";
  font-size: 40px;
  line-height: 60px;
}

.text-32 {
  font-family: "Roboto Regular";
  font-size: 32px;
  line-height: 48px;
}

.text-24 {
  font-family: "Roboto Regular";
  font-size: 24px;
  line-height: 36px;
}

.text-16, .footer-top-info ul li {
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 24px;
}

.text-13 {
  font-family: "Roboto Regular";
  font-size: 13px;
  line-height: 19.5px;
}

.text-11, .header-main .nav ul li, .header-main .logo .name {
  font-family: "Roboto Regular";
  font-size: 11px;
  line-height: 16.5px;
}

.p-24 {
  padding: 24px;
}

.p-16 {
  padding: 16px;
}

.text-center, .btn {
  text-align: center;
}

.btn {
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cacaca;
  display: block;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;
  height: fit-content;
}

.btn-brown {
  background: #95390c;
  border: none;
}

.btn-green {
  background: #34c176;
  border: none;
}

.btn-purple {
  background: #5328a1;
  border: none;
}

.btn-oval {
  border-radius: 32px;
}

@media (max-width: 415px) {
  .btn-group {
    flex-direction: column;
  }
}

.section-title {
  margin-top: 100px;
  margin-bottom: 45px;
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-start {
  text-align: start;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.header-home {
  background-image: url("../images/banner.png");
}

.header-artist {
  background-image: url("../images/Morten Harket.png");
}

.header {
  position: absolute;
  top: 25px;
  width: 100%;
  align-items: center;
}
@media (max-width: 415px) {
  .header {
    flex-direction: column;
    align-items: start;
  }
}
.header-main {
  align-items: center;
}
@media (max-width: 415px) {
  .header-main {
    flex-direction: column;
    align-items: start;
  }
}
.header-main .logo {
  align-items: center;
  padding: 12px;
  padding-left: 0;
}
.header-main .logo .name {
  text-transform: uppercase;
  padding-left: 16px;
}
.header-main .logo img {
  height: 24px;
  width: 24px;
}
.header-main .nav ul {
  align-items: center;
  padding-left: 66px;
}
@media (max-width: 415px) {
  .header-main .nav ul {
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    margin-bottom: 18px;
    margin-top: 5px;
  }
}
.header-main .nav ul li {
  padding: 12px;
  text-transform: uppercase;
}
@media (max-width: 415px) {
  .header-main .nav ul li {
    padding: 0;
  }
}
.header input {
  width: 248px;
  height: 25px;
  background: #3c3b3d;
  border-radius: 50px;
}
@media (max-width: 415px) {
  .header input {
    width: 100%;
  }
}
.header input::placeholder {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  padding-left: 10px;
  color: #757575;
}

#page-description .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}
@media (max-width: 415px) {
  #page-description .content {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 201px;
  }
}
#page-description .content p {
  margin-top: 31px;
  margin-bottom: 17px;
}
#page-description .content form {
  max-width: 570px;
  width: 100%;
}
@media (max-width: 415px) {
  #page-description .content form .login {
    flex-direction: column;
  }
}
#page-description .content form .login :first-child {
  margin-right: 3%;
}
@media (max-width: 415px) {
  #page-description .content form .login :first-child {
    margin-right: 0;
  }
}
#page-description .content form .login input {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
#page-description .content form .login input::placeholder {
  padding-left: 20px;
  font-family: "Roboto Bold";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
#page-description .content form .btn-arial {
  width: 100%;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
}
#page-description .ai-start {
  align-items: start;
}

svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.btn-svg {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 30px;
}

.mr-24 {
  margin-right: 1.5rem;
}
@media (max-width: 415px) {
  .mr-24 {
    margin-bottom: 1.5rem;
  }
}

#page-pricing .pricing {
  margin-bottom: 43px;
}
@media (max-width: 415px) {
  #page-pricing .pricing {
    flex-direction: column;
    align-items: center;
  }
}
#page-pricing .pricing-item {
  height: 615px;
  border-radius: 1rem;
  padding: 24px 1.5rem;
}
#page-pricing .pricing-item-center {
  margin: 0 4%;
}
@media (max-width: 415px) {
  #page-pricing .pricing-item-center {
    margin: 50px 0;
  }
}
#page-pricing .pricing-item h3 {
  margin-bottom: 200px;
  text-transform: uppercase;
}
#page-pricing .pricing-item a {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 64px;
  text-transform: uppercase;
}
#page-pricing .pricing-value {
  line-height: 1em;
  margin-bottom: 40px;
}
#page-pricing .pricing-value span {
  margin-left: 16px;
  vertical-align: super;
}

.item-1 {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.item-2 {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.item-3 {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.news-item {
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 65px;
}
.news-item img {
  grid-column: 1/2;
}
.news-item-content {
  grid-column: 2/3;
}
@media (max-width: 415px) {
  .news-item img {
    grid-column: 1/-1;
    width: -webkit-fill-available;
  }
  .news-item-content {
    grid-column: 1/-1;
  }
}
.news-item-back img {
  grid-column: 2/3;
}
.news-item-back .news-item-content {
  grid-column: 1/2;
  grid-row: 1;
}
@media (max-width: 415px) {
  .news-item-back img {
    grid-column: 1/-1;
    width: -webkit-fill-available;
  }
  .news-item-back .news-item-content {
    grid-column: 1/-1;
    grid-row: 2;
  }
}

.news-body p {
  margin-top: 30px;
  margin-bottom: 25px;
}

.news-author {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
}
.news-author img {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.news-footer a {
  width: 135px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.data {
  padding-left: 16px;
}

.page-app-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}
.page-app-content p {
  grid-column: 1/2;
}
.page-app-content img {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
}
.page-app-content .btn {
  grid-column: 1/2;
  grid-row: 2;
  width: 131px;
  padding: 17px;
  margin-top: 16px;
}
@media (max-width: 415px) {
  .page-app-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .page-app-content p {
    grid-row: 2/3;
  }
  .page-app-content img {
    grid-row: 1/2;
    grid-column: 1;
  }
  .page-app-content .btn {
    grid-row: 3/4;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3%;
}
@media (max-width: 415px) {
  .footer-top {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer-top-info h2 {
  font-size: 18px;
}
@media (max-width: 415px) {
  .footer-top-info ul {
    margin-top: 16px;
    margin-bottom: 30px;
  }
}
.footer-top-social {
  display: flex;
}
.footer-bottom {
  padding: 2rem 0;
}
.footer-bottom ul {
  display: flex;
}
.footer-bottom ul li {
  padding-right: 16px;
}
@media (max-width: 415px) {
  .footer-bottom ul li {
    padding-top: 16px;
  }
}
@media (max-width: 415px) {
  .footer-bottom ul {
    flex-direction: column;
  }
}

hr {
  border: 1px solid #cacaca;
}

.popular-track-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-track {
  display: flex;
  width: 48%;
  margin-bottom: 25px;
}
@media (max-width: 415px) {
  .popular-track {
    width: 100%;
  }
}
.popular-track img {
  margin-right: 15px;
  width: 55px;
  height: 55px;
}
.popular-track .track-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
