@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto Medium";
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Regular";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Arial Regular";
  font-style: normal;
  src: url("../fonts/ARIAL.TTF");
}
