.bg-gradient {
  padding: 8px 0;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  @media (max-width: $mobile-size) {
    padding-bottom: 10px;
  }
}

.footer {
  &-top {
    display: grid;
    grid-gap: 40px;
    grid-row-gap: 16px;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 18px;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (max-width: $mobile-size) {
      grid-template-rows: repeat(4, min-content);
      grid-template-columns: repeat(1, 1fr);

      margin-bottom: 13px;
    }

    & h2 {
      grid-row: 1;

      font-size: 18px;
      line-height: 27px;

      @media (max-width: $mobile-size) {
        grid-row: auto;
      }
    }

    & ul {
      @media (max-width: $mobile-size) {
        margin-bottom: 14px;
      }

      & li {
        font-size: 16px;
        line-height: 150%;
      }
    }

    &-social {
      display: flex;
      align-items: center;
      height: min-content;

      & a {
        display: block;
        margin-right: 24px;
      }
    }
  }

  &-bottom {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(5, min-content);
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (max-width: $mobile-size) {
      grid-row-gap: 16px;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(1, 1fr);

      & a {
        margin-top: 1px;
      }
    }
  }
}

hr {
  border: 2px solid $grey;
}

.mt-9 {
  @media (max-width: $mobile-size) {
    margin-top: 14px;
  }
}

.mt-5 {
  @media (max-width: $mobile-size) {
    margin-top: -5px;
  }
}
