.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
    &-top {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3%;

        @media (max-width: $mobile-size)  {
            grid-template-columns: repeat(1, 1fr);
        }

        &-info {
            & h2 {
                font-size: 18px;
                line-height: 27px;
            }
            & ul {
                margin-top: 16px;
                @media (max-width: $mobile-size)  {
                    margin-bottom: 30px;
                }

                & li {
                    @extend .text-16;
                }
            }
        }

        &-social {
           & li {
            margin-right: 24px;
           }
           
        }
    } 

    &-bottom {
        padding: 2rem 0;
        
        & ul {
            display: grid;
            grid-template-columns: repeat(5, min-content);
            grid-gap: 16px;

            @media (max-width: $mobile-size)  {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-row-gap: 16px;
            }

            & li {
                @extend .text-16;
            }
        }
    }
}

hr {
    border: 1px solid $grey;
}