* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
  
body {
  font-family: $regular;
  font-size: 18px;
  line-height: 1.5em;
  color: $grey;
  background-color: $black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none; 
} 

ul {
  margin-left: 0; 
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
  @media (max-width: $mobile-size) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
  
h1 {
  @include title-style(60px);
 
  @media (max-width: $mobile-size) {
    @include title-style(30px);
  }
}
  
h2 {
  @include title-style(38px);
  
  @media (max-width: $mobile-size) {
    @include title-style(18px);
  }
}

.text-white {
  color: $white;
}

.text-grey {
  color: $grey;
}

.text-lgrey {
  color: $light-grey;
}

.text-orange {
  color: $orange;
}

.bg-free {
  background: none;
}

@each $size in $text-size {
  @include text-constructor($size)
}

.p-24 {
  @include padding-around(24px);
}

.p-16 {
  @include padding-around(16px);
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 5px;
  border: 1px solid $grey;
  display: block;
  @extend .text-center;
}

.btn-brown {
  background: $brown;
  border: none;
}

.btn-oval {
  border-radius: 32px;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 45px;
  text-align: center;;

}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}




