* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
  
  a {
  text-decoration: none;
}
  
  body {
    font-family: $regular;
    font-size: 18px;
    line-height: 1.5em;
    color: $grey;
    background-color: $black;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  
    @media (max-width: $mobile-size) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  h1 {
    @include title-style(60px, $bold);
  
    @media (max-width: $mobile-size) {
      @include title-style(30px, $bold);
    }
  }
  
  h2 {
    @include title-style(38px, $bold);
  
    @media (max-width: $mobile-size) {
      @include title-style(18px, $bold);
    }
  }

  li {
    list-style-type: none; 
   }

   ul {
    margin-left: 0; 
    padding-left: 0;
   }

.text-white {
  color: $white;
}

.text-grey {
  color: $grey;
}

.p-24 {
  @include padding-around(24px);
}

.p-16 {
  @include padding-around(16px);
}




