
.header {
  position: absolute;
  top: 25px;
  width: 100%;
  
  @include flex-between-item-center;
  
    @media (max-width: $mobile-size)  {
      flex-direction: column;
      align-items: start;
    }
  
    &-main {
      @include flex-between-item-center;
  
      @media (max-width: $mobile-size)  {
        flex-direction: column;
        align-items: start;
      }
  
      & .logo {
        @include flex-between-item-center;
        @include padding-around(12px);
        padding-left: 0;
  
        & .name {
          @extend .text-11;
          text-transform: uppercase;
          padding-left: 16px;
        }
  
        & img {
          height: 24px;
          width: 24px;
        }
      }
  
      & .nav {
        & ul { 
          @include flex-between-item-center;
          padding-left: 66px;
  
          @media (max-width: $mobile-size)  {
            flex-direction: column;
            align-items: start;
            padding-left: 0;
            margin-bottom: 18px;
            margin-top: 5px;
          }
  
          & li {
            @extend .text-11;
            @include padding-around(12px);
            text-transform: uppercase;
  
            @media (max-width: $mobile-size)  {
              padding: 0;
            }
          }
        }
      }
    }
  
    & input {
      width: 248px;
      height: 25px;
      background: $dark-grey;
      border-radius: 50px;
  
      @media (max-width: $mobile-size)  {
        width: 100%;
      }
    
      &::placeholder {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13.3px;
        line-height: 15px;
        text-transform: uppercase;
        padding-left: 10px;
  
        color: #757575;
      }
    }
  }