
.header {
  position: absolute;
  top: 25px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 
  1fr);
  align-items: center;
  
  @media (max-width: $mobile-size)  {
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
  }

  &-wrapper {
    position: relative;
    max-width: 1200px;
  }
  
  &-main {
    display: flex;
  
    @media (max-width: $mobile-size)  {
      flex-direction: column;
      align-items: start;
    }
  
    & .logo {
      display: flex;
      align-items: center;
      & img {
        height: 24px;
        width: 24px;
        margin-right: 16px;
      }
    }
  
      
    .nav { 
     display: grid;
     grid-template-columns: repeat(4, min-content);
     grid-gap: 24px;
      margin-left: 90px;
      align-items: center;
      & li {
        line-height: 13px;
        & a {
        font-size: 11px;
        
        text-transform: uppercase;
        }
      }
  
      @media (max-width: $mobile-size)  {
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        margin-bottom: 18px;
        margin-top: 17px;
      }
    }
  }
  
  & input {
    width: 248px;
    height: 25px;
    background: $dark-grey;
    border-radius: 50px;
    justify-self: end;
  
    @media (max-width: $mobile-size)  {
      width: 100%;
      max-width: 374px;
      justify-self: start;
    }
    
    &::placeholder {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13.3px;
      line-height: 15px;
      text-transform: uppercase;
      padding-left: 10px;
  
      color: #757575;
    }
  }
}