
.news-item {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 65px;

    & img {
        grid-column: 1/2;
    }

    &-content {
        grid-column: 2/3;
    }

    @media (max-width: $mobile-size)  {
        & img {
            grid-column: 1/-1;
            width: -webkit-fill-available;
        }
    
        &-content {
            grid-column: 1/-1;
        }  
    }


    &-back {
        & img {
            grid-column: 2/3;
        }

        .news-item-content {
            grid-column: 1/2;
            grid-row: 1;
        }

        @media (max-width: $mobile-size)  {
            & img {
                grid-column: 1/-1;
                width: -webkit-fill-available;
            }
        
            .news-item-content {
                grid-column: 1/-1;
                grid-row: 2;
            }  
        }
    }
}

.news-body {
    & h3 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 400;text-transform: capitalize;
        @media (max-width: $mobile-size)  {
            font-size: 16px;
            line-height: 24px;
            
        }
    }
    & p {
        margin-top: 30px;
        margin-bottom: 25px;
    }
}

.news-author {
    display: flex;
    margin-bottom: 48px;
    align-items: center;

    & img {
        width: 19px;
        height: 19px;
        margin-right: 16px;
    }
}

.news-footer {
    & a {
        width: 135px;
        padding: 16px 30px;
    }
}

.data {
    padding-left: 16px;
}

