#page-description {
  padding: 200px 0;
}

.page-description-home {
  text-align: center;

  & h1 {
    @media (max-width: $mobile-size) {
      margin-top: 50px;
    }
  }

  & p {
    margin-top: 31px;
    margin-bottom: 16px;

    @media (max-width: $mobile-size) {
      margin-top: 16px;
    }
  }

  & form {
    width: 100%;
    max-width: 570px;
    
    margin: 0 auto;

    & .login {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      margin-bottom: 1.5rem;

      @media (max-width: $mobile-size) {
        grid-column-gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
      }

      & input {
        min-width: 270px;
        min-height: 50px;
        border: 2px solid $grey;
        border-radius: 3px;
        box-sizing: border-box;

        &::placeholder {
          padding: 0 20px;
          font-family: 'Roboto Bold';
          font-size: 14px;
          line-height: 16px;
          color: $white;
        }
      }
    }

    & .btn-arial {
      width: 100%;
      font-weight: 400;
      font-size: 13.3px;
      font-family: $arial;

      line-height: 15px;
    }
  }
}

.page-description-artist {
  text-align: start;

  & h1 {
    margin-top: 50px;
    margin-bottom: 16px;

    @media (max-width: $mobile-size) {
      margin-top: 25px;
    }
  }

  & .btn-group {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, min-content);

    margin-top: 46px;
    margin-bottom: 22px;

    @media (max-width: $mobile-size) {
      grid-template-columns: auto;
    }
  }
}

svg {
  width: 24px;
  height: 24px;

  margin-right: 16px;

  fill: $white;
}

.btn-svg {
  display: flex;
  align-items: center;
  width: 200px;

  padding-right: 30px;
  padding-left: 30px;

  font-size: 12.8px;
  font-family: $regular;

  text-transform: uppercase;
}
