.popular-track-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;

    @media (max-width: $mobile-size)  {
        grid-template-columns: auto;
    }
}

.popular-track{
  display: flex;
    @media (max-width: $mobile-size)  {
        width: 100%;
    }
    & img {
        margin-right: 15px;
        width: 55px;
        height: 55px;
    }

    .track-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
       

        & .track-time {
            margin-right: 50px;
            
            @media (max-width: $mobile-size)  {
                margin-right: 0;
            }
        }
    }
}
.track-name,
.track-author,
.track-time {
    font-size: 12.8px;
    line-height: 150%;
}