.header-home {
  padding-top: 0;
}

.header-artist {
  padding-top: 0;
} 

#page-description {
  padding: 0;
  text-align: center;

  @media (max-width: $mobile-size)  {
    padding-top: 250px;
  }

  & p {
    margin-top: 31px;
    margin-bottom: 16px;
    @media (max-width: $mobile-size)  {
      margin-top: 16px;
    }
  }

  & form {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;

    & .login {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
        margin: 1.5rem 0;
        @media (max-width: $mobile-size)  {
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 1.5rem;
        }

      & input {
        min-width: 270px;
        min-height: 50px;
        border: 2px solid $grey;
        border-radius: 3px;

        &::placeholder {
          padding-left: 20px;
          font-family: 'Roboto Bold';
          font-size: 14px;
          line-height: 16px;
          color: $white;
        }
      }

    }

    & .btn-arial {
      width: 100%;
      font-family: 'Arial';
      font-weight: 400;
      font-size: 13.3px;
      line-height: 15px;
    }
  }



}
.ai-start {
  text-align: start;
}
svg {
  fill: $white;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.btn-svg {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12.8px;
  font-family: $regular;
  text-transform: uppercase;
}

.mr-24 {
  margin-right: 1.5rem;
  @media (max-width: $mobile-size)  {
    margin-bottom: 1.5rem;
  }
}